<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Página inicial</title>
    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static '/info/homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static '/info/homepage/css/heroic-features.css' %}" rel="stylesheet" />
    <link href="{% static '/info/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">RitmoGestor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-capitalize">{{ request.user.student.name }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <header class="jumbotron my-4">
        <h1 class="display-3 text-capitalize">Bem-vindo(a) {{ request.user.student.name }}</h1>
      </header>

      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <a href="{% url 'attendance' request.user.student.USN %}"><img class="card-img-top" src="{% static 'info/images/attendance2.jpg' %}" alt="" /></a>
            <div class="card-body">
              <h4 class="card-title">Frequencia</h4>
              <p class="card-text">Veja a frequencia dos seus cursos</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary" role="button" href="{% url 'attendance' request.user.student.USN %}">Ver Frequencia</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <a href="{% url 'marks_list' request.user.student.USN %}"><img class="card-img-top" src="{% static 'info/images/marks.jpg' %}" alt="" /></a>
            <div class="card-body">
              <h4 class="card-title">Pontuações</h4>
              <p class="card-text">Veja as pontuações dos seus cursos.</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary" role="button" href="{% url 'marks_list' request.user.student.USN %}">Ver pontuações</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <a href="{% url 'timetable' request.user.student.class_id_id %}"><img class="card-img-top" src="{% static 'info/images/timetable.png' %}" alt="" /></a>
            <div class="card-body">
              <h4 class="card-title">Horários das aulas</h4>
              <p class="card-text">Veja os horários das aulas.</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary" role="button" href="{% url 'timetable' request.user.student.class_id_id %}">Ver horários</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tem certeza que quer sair?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">Selecione "Logout" abaixo se estiver pronto para encerrar sua sessão atual.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/accounts/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->

    <script src="{% static '/info/homepage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/info/homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
